We are in <%= Rails.env %> environment.
<div class="container">
  <div class="jumbotron" align="center">
    <h1>What Course?</h1>
    <p>Tool that helps you to select the courses that suite you the best</p>
  </div>
  <div class="dropdown" align="center">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Select Faculty</button>
    <ul class="dropdown-menu">
      <li>Computer Science</li>
      <li>Biology</li>
      <li>Economics</li>
    </ul>
  </div>
  <br>
  <div class="dropdown" align="center">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Select Course</button>
    <ul class="dropdown-menu">
      <li>CSCI3110 Software Engineering</li>
      <li>CSCI5308 Quality Assurance</li>
      <li>CSCI5409 Adv.Topics in Cloud Computing</li>
    </ul>
  </div>
  <br>
  <div align="center">
  <button class="button">></button>
  </div>
</div>